flask
line-bot-sdk==2.4.2
Pillow
pyimgur
requests
Gunicorn
beautifulsoup4
lxml
psycopg2
pandas
google-cloud-vision
opencv-python
opencc-python-reimplemented
googlesearch-python
openai==0.28.0
